<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .reister-form {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <img class="logo" style="display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='logo.png') }}" alt="logo">
    <div>
        <h2 style="text-align: center;">Criar Conta</h2>
    </div>
    <div class="reister-form">
    <form method="post" action="{{ url_for('register') }}" class="login-container">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Nome Usuario</span>
            <input type="text" name="username" required class="form-control" aria-label="Username">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Palavra-Pass</span>
            <input type="password" name="password" required class="form-control" aria-label="Password">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Turma</span>
            <input type="text" name="turma" required class="form-control" aria-label="Turma">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Ano</span>
            <input type="number" name="year" required class="form-control" aria-label="Year">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    </div>
    <div style=" display:flex; align-items: center;
    justify-content: center;">
    <p style="padding-top: 17px;">Tens conta?</p>
    <a  style="margin-left: 10px ; text-decoration: none" href="{{ url_for('login') }}">Logar</a>
    </div>
</body>
</html>
