{%extends "user/BaseUser.html" %}

{%block title%}
    Cursos
{%endblock%}
{%block content%}
    <div class="content" id="contentDiv">
        <table class=" table table-striped">
            <tr>
                <th>Curso</th>
                <th>Módulos</th>
                <th>Duração</th>
            </tr>
            <tbody>
            <tr>
                <td>Curso 1</td>
                <td><a href="#">Módulo 1</a></td>
                <td>2 semanas</td>
            </tr>
            <tr>
                <td>Curso 2</td>
                <td><a href="#">Módulo 3</a></td>
                <td>4 semanas</td>
            </tr>
            <tr>
                <td>Curso 3</td>
                <td><a href="#">Módulo 2</a></td>
                <td>3 semanas</td>
            </tr>
            <tr>
                <td>Curso 4</td>
                <td><a href="#">Módulo 4</a></td>
                <td>5 semanas</td>
            </tr>
            </tbody>
        </table>        
    </div>
{%endblock%}